*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/myriad/MyriadPro-Regular.eot");
  src: url("../fonts/myriad/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/myriad/MyriadPro-Regular.woff") format("woff"), url("../fonts/myriad/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/myriad/MyriadPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerMedium.eot");
  src: url("../fonts/muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/MullerMedium.woff") format("woff"), url("../fonts/muller/MullerMedium.woff2") format("woff2"), url("../fonts/muller/MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerBold.eot");
  src: url("../fonts/muller/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/MullerBold.woff") format("woff"), url("../fonts/muller/MullerBold.woff2") format("woff2"), url("../fonts/muller/MullerBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerExtraBold.eot");
  src: url("../fonts/muller/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/MullerExtraBold.woff") format("woff"), url("../fonts/muller/MullerExtraBold.woff2") format("woff2"), url("../fonts/muller/MullerExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerHeavy.eot");
  src: url("../fonts/muller/MullerHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/muller/MullerHeavy.woff") format("woff"), url("../fonts/muller/MullerHeavy.woff2") format("woff2"), url("../fonts/muller/MullerHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Light.eot");
  src: url("../fonts/openSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-Light.woff") format("woff"), url("../fonts/openSans/OpenSans-Light.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Italic.eot");
  src: url("../fonts/openSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-Italic.woff") format("woff"), url("../fonts/openSans/OpenSans-Italic.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Regular.eot");
  src: url("../fonts/openSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-Regular.woff") format("woff"), url("../fonts/openSans/OpenSans-Regular.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-SemiBold.eot");
  src: url("../fonts/openSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/openSans/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Bold.eot");
  src: url("../fonts/openSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-Bold.woff") format("woff"), url("../fonts/openSans/OpenSans-Bold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-ExtraBold.eot");
  src: url("../fonts/openSans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/openSans/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/openSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html.noscroll {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
}

.active {
  position: relative;
  overflow: hidden;
}
.active:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #000;
  opacity: 0.4;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

input,
.slick-slide,
.slick-arrow {
  outline: none;
}

.title {
  font-family: Muller;
  font-size: 30px;
  text-transform: none;
  text-decoration: none;
  color: #7f38bd;
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0;
  }
}
@media only screen and (min-width: 1170px) {
  .container {
    max-width: 1140px;
  }
}
.header {
  position: relative;
  background: url(../images/headerBg1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 23px 0 65px 0;
  overflow: hidden;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-nav-icon a {
  font-family: OpenSans;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  line-height: 0;
}

.radio {
  display: none;
}

.header-nav-block-menu {
  background-color: #fff;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  padding: 60px 0;
  text-align: center;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.header-nav-block__inO:checked ~ .header-nav-block-menu {
  left: 0;
}

.header-nav-block-menu__labC {
  position: absolute;
  top: 27px;
  right: 26px;
  z-index: 3;
}

.header-nav-block-menu-list {
  list-style: none;
}
.header-nav-block-menu-list li:nth-child(n+2) {
  margin-top: 40px;
}

.header-nav-block-menu-list__item {
  font-family: OpenSans;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.header-nav-block-menu__tel {
  display: inline-block;
  margin: 100px 0 40px 0;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

.header-nav-block-menu__formO:checked ~ .header-nav-block-menu-form {
  display: block;
}

.header-nav-block-menu-label__sp {
  font-family: OpenSans;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fb0275;
  font-weight: 800;
  letter-spacing: 0.6px;
  padding: 7px 20px;
  border: 2px solid #fb0275;
  border-radius: 30px;
}

.header-nav-block-menu-form {
  display: none;
  position: absolute;
  top: 20%;
  z-index: 4;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/formBG.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: start;
  border-radius: 10px;
  width: 300px;
  padding: 46px 30px 56px 30px;
}
.header-nav-block-menu-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-nav-block-menu-form__label {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 5;
}

.header-nav-block-menu-form__title {
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  line-height: 30.1px;
  font-style: italic;
}

.header-nav-block-menu-form__text {
  font-family: OpenSans;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  line-height: 30.1px;
  margin-bottom: 30px;
}

.header-nav-block-menu-form__in {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 11px 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.header-nav-block-menu-form__in::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.header-nav-block-menu-form__in:-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.header-nav-block-menu-form__in::-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.header-nav-block-menu-form__in::placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.header-nav-block-menu-form__in:nth-child(2) {
  margin: 28px 0 35px 0;
}

.header-nav-block-menu-form__sub {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 15px 0;
  border: none;
  background-color: #fb0275;
  border-radius: 30px;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-inner-photo {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 5px 0 52px 0;
}
.header-inner-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-inner-info {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header-inner-info__title {
  font-family: Muller;
  font-size: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  max-width: 70%;
}

.header-inner-info__text {
  margin: 25px 0 43px 0;
  font-family: Muller;
  font-size: 21px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.header-inner-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-inner-info-block__link {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: inline-block;
  padding: 16px 0;
  background-color: #fb0275;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
}

.header-inner-info-block__text {
  -ms-flex-preferred-size: 72%;
      flex-basis: 72%;
  margin-top: 27px;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .header {
    padding-bottom: 80px;
    background: url(../images/headerBg2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .header:before {
    content: "";
    height: 32px;
    width: 20px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 40px;
    background: url(../images/headerBottom.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .header-nav-block-menu {
    height: 100%;
    width: 300px;
    text-align: start;
    padding-left: 68px;
    overflow: unset;
  }

  .header-nav-block__inO:checked ~ .header-nav-block-menu {
    left: calc(100vw - 300px);
  }

  .header-nav-block-menu-form {
    position: absolute;
    top: 20%;
    left: -80px;
    z-index: 4;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 364px;
    padding: 35px 63px 55px 63px;
  }

  .header-inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .header-inner-photo {
    -ms-flex-preferred-size: 444px;
        flex-basis: 444px;
    min-height: 460px;
    margin: 17px 0 0 -32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-inner-photo img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .header-inner-info {
    -ms-flex-preferred-size: 282px;
        flex-basis: 282px;
    padding-top: 53px;
  }

  .header-inner-info__title {
    font-size: 45px;
    max-width: 90%;
  }

  .header-inner-info-block__link {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
@media only screen and (min-width: 1170px) {
  .header {
    background: url(../images/headerBg3.png);
    background-position: 50% 45%;
    padding: 71px 0 210px 0;
    position: relative;
  }
  .header:before {
    bottom: 68px;
  }

  .header-nav-icon a {
    letter-spacing: 1px;
  }

  .header-nav-block-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    position: static;
    background-color: transparent;
    width: auto;
    padding: 0;
    height: auto;
  }

  .header-nav-block__labO,
  .header-nav-block-menu__labC {
    display: none;
  }

  .header-nav-block-menu-list li {
    display: inline-block;
  }
  .header-nav-block-menu-list li:nth-child(n+2) {
    margin: 0 0 0 52px;
  }

  .header-nav-block-menu-list__item {
    color: #fff;
    letter-spacing: 0.5px;
  }

  .header-nav-block-menu__tel {
    margin: 0;
  }

  .header-nav-block-menu__tel {
    margin: 0 36px 0 66px;
    letter-spacing: 0.6px;
    color: #fff;
  }

  .header-nav-block-menu-label__sp {
    color: #fff;
    border-color: #fff;
  }

  .header-nav-block-menu-form {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 4;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .header-inner-photo {
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
    min-height: 550px;
    margin: 92px 0 0 -5px;
  }

  .header-inner-info {
    -ms-flex-preferred-size: 515px;
        flex-basis: 515px;
    padding-top: 136px;
  }

  .header-inner-info__title {
    font-size: 60px;
    max-width: 70%;
    letter-spacing: 3px;
    line-height: 75px;
  }

  .header-inner-info__text {
    font-size: 32px;
    margin: 35px 0 74px 0;
    line-height: 38px;
  }

  .header-inner-info-block__link {
    -ms-flex-preferred-size: 248px;
        flex-basis: 248px;
    margin-left: -5px;
  }

  .header-inner-info-block__text {
    -ms-flex-preferred-size: 220px;
        flex-basis: 220px;
    margin: 0 0 0 30px;
    line-height: 21px;
    letter-spacing: 0.5px;
  }
}
.sxema {
  padding: 38px 0 51px 0;
}

.sxema-info__head {
  font-family: Muller;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 25px 0 35px 0;
}

.sxema-info-text {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 24px;
}
.sxema-info-text p:nth-child(n+2) {
  margin-top: 25px;
}

.sxema-photo {
  min-height: 719px;
}

.sxema-photo-inner {
  position: relative;
  max-width: 290px;
  margin: 0 auto;
}

.sxema-photo-inner-block {
  font-family: Muller;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  z-index: 2;
}
.sxema-photo-inner-block p {
  margin-top: 6px;
  max-width: 125px;
}

.sxema-photo-inner__lt,
.sxema-photo-inner__ld {
  display: none;
}

.sxema-photo-inner-block:nth-child(1) {
  position: absolute;
  top: 35px;
  left: 81px;
}

.sxema-photo-inner-block:nth-child(2) {
  position: absolute;
  top: 230px;
  right: -5px;
}

.sxema-photo-inner-block:nth-child(3) {
  position: absolute;
  top: 325px;
  left: 0;
}

.sxema-photo-inner-block:nth-child(4) {
  position: absolute;
  top: 565px;
  left: 80px;
}

.sxema-photo-inner__lm {
  position: absolute;
  top: 115px;
  left: 101px;
}

.uslug {
  background-color: #faf8fb;
}

.uslug-inner {
  position: relative;
  padding: 68px 0 70px 0;
}

.uslug-inner-number {
  font-family: Muller;
  font-size: 200px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  line-height: 180px;
  text-shadow: 0 0 20px #ece9ec;
  color: #faf8fb;
  position: absolute;
  top: 119px;
  left: 30px;
  z-index: 1;
}

.uslug-inner-info-head {
  font-family: Muller;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 43px 0 48px 0;
  position: relative;
  z-index: 2;
}

.uslug-inner-info-list {
  list-style: none;
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 24px;
  text-indent: 8px;
}
.uslug-inner-info-list li {
  position: relative;
}
.uslug-inner-info-list li:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #5e606a;
}

.uslug-inner-info-ques {
  display: none;
}

.uslug-inner-ques {
  margin-top: 350px;
  padding: 34px 22px 30px 22px;
  -webkit-box-shadow: 0 20px 20px 0 #d0bcd1;
          box-shadow: 0 20px 20px 0 #d0bcd1;
  background-color: #883eca;
  border-radius: 10px;
}

.uslug-inner-ques-block__title {
  font-family: OpenSans;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}

.uslug-inner-ques-block__head {
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin: 10px 0 32px 0;
}

.uslug-inner-ques-link__el {
  display: inline-block;
  padding: 16px 0;
  background-color: #fb0275;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
  width: 100%;
  padding: 13px 0;
  letter-spacing: 1px;
}

.uslug-inner-slider {
  margin-top: 39px;
}

.uslug-container {
  max-width: 100%;
  position: relative;
}

.buttons {
  position: absolute;
  top: 255px;
  left: nul;
  z-index: 3;
}

.card-stack .prev {
  left: 30px;
}

.card-stack .next {
  right: 30px;
}

.card-list__image {
  max-width: 100%;
  display: block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 188px;
}

.card-list__text {
  position: absolute;
  bottom: -34px;
  left: 0;
  font-family: OpenSans;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  list-style: none;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.card-list li:nth-child(1) {
  top: 0;
  width: 90%;
}
.card-list li:nth-child(1):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #e4dde8;
}

.card-list li:nth-child(2) {
  top: 5px;
  width: 95%;
}
.card-list li:nth-child(2):before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #bbb3bc;
}

.card-list li:nth-child(3) {
  top: 10px;
  width: 100%;
  overflow: unset;
}

.card {
  overflow: hidden;
}

.activeNow {
  overflow: unset;
}

.transformThis {
  -webkit-animation: scaleDown 500ms;
          animation: scaleDown 500ms;
}

.transformPrev {
  -webkit-animation: scaleUp 100ms;
          animation: scaleUp 100ms;
  display: none;
}

@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(1.2) translateY(50px);
            transform: scale(1.2) translateY(50px);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(1.15) translateY(40px);
            transform: scale(1.15) translateY(40px);
    opacity: 0.1;
  }
  40% {
    -webkit-transform: scale(1.1) translateY(30px);
            transform: scale(1.1) translateY(30px);
    opacity: 0.2;
  }
  60% {
    -webkit-transform: scale(1.05) translateY(20px);
            transform: scale(1.05) translateY(20px);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: scale(1.01) translateY(10px);
            transform: scale(1.01) translateY(10px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    -webkit-transform: scale(1.2) translateY(50px);
            transform: scale(1.2) translateY(50px);
    opacity: 0;
  }
  20% {
    -webkit-transform: scale(1.15) translateY(40px);
            transform: scale(1.15) translateY(40px);
    opacity: 0.1;
  }
  40% {
    -webkit-transform: scale(1.1) translateY(30px);
            transform: scale(1.1) translateY(30px);
    opacity: 0.2;
  }
  60% {
    -webkit-transform: scale(1.05) translateY(20px);
            transform: scale(1.05) translateY(20px);
    opacity: 0.4;
  }
  80% {
    -webkit-transform: scale(1.01) translateY(10px);
            transform: scale(1.01) translateY(10px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.01) translateY(20px);
            transform: scale(1.01) translateY(20px);
    opacity: 0.8;
  }
  40% {
    -webkit-transform: scale(1.05) translateY(40px);
            transform: scale(1.05) translateY(40px);
    opacity: 0.4;
  }
  60% {
    -webkit-transform: scale(1.1) translateY(60px);
            transform: scale(1.1) translateY(60px);
    opacity: 0.2;
  }
  80% {
    -webkit-transform: scale(1.15) translateY(80px);
            transform: scale(1.15) translateY(80px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1.2) translateY(100px);
            transform: scale(1.2) translateY(100px);
    opacity: 0;
  }
}
@keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: scale(1.01) translateY(20px);
            transform: scale(1.01) translateY(20px);
    opacity: 0.8;
  }
  40% {
    -webkit-transform: scale(1.05) translateY(40px);
            transform: scale(1.05) translateY(40px);
    opacity: 0.4;
  }
  60% {
    -webkit-transform: scale(1.1) translateY(60px);
            transform: scale(1.1) translateY(60px);
    opacity: 0.2;
  }
  80% {
    -webkit-transform: scale(1.15) translateY(80px);
            transform: scale(1.15) translateY(80px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1.2) translateY(100px);
            transform: scale(1.2) translateY(100px);
    opacity: 0;
  }
}
@-webkit-keyframes scaleCard {
  0% {
    top: 5px;
  }
  100% {
    top: 24px;
  }
}
@keyframes scaleCard {
  0% {
    top: 5px;
  }
  100% {
    top: 24px;
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media only screen and (min-width: 768px) {
  .sxema {
    padding: 51px 0 135px 0;
  }

  .sxema-info__title {
    margin-bottom: 45px;
  }

  .sxema-info__head {
    font-size: 32px;
  }

  .sxema-photo {
    min-height: 505px;
  }

  .sxema-photo-inner {
    max-width: 720px;
  }

  .sxema-photo-inner-block p {
    max-width: 160px;
  }

  .sxema-photo-inner-block:nth-child(1) {
    position: absolute;
    top: 45px;
    left: 167px;
  }

  .sxema-photo-inner-block:nth-child(2) {
    position: absolute;
    top: 140px;
    right: 0;
  }

  .sxema-photo-inner-block:nth-child(3) {
    position: absolute;
    top: 225px;
    left: 0;
  }

  .sxema-photo-inner-block:nth-child(4) {
    position: absolute;
    top: 345px;
    left: 375px;
  }

  .sxema-photo-inner__lm {
    display: none;
  }

  .sxema-photo-inner__lt {
    display: block;
    position: absolute;
    top: 101px;
    left: 118px;
  }

  .uslug-inner {
    padding: 78px 0 440px 0;
  }
  .uslug-inner:before {
    content: "";
    height: 130px;
    width: 10px;
    background: url(../images/lines.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -63px;
    z-index: 3;
    left: 50%;
  }

  .uslug-inner-ques {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 33px 33px 36px 36px;
    position: absolute;
    right: 0;
    bottom: -265px;
    left: unset;
    width: 100%;
  }

  .uslug-inner-info-head {
    margin: 53px 0 62px 0;
    font-size: 32px;
  }

  .uslug-inner-ques-block {
    -ms-flex-preferred-size: 330px;
        flex-basis: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .uslug-inner-ques-link {
    -ms-flex-preferred-size: 251px;
        flex-basis: 251px;
  }

  .uslug-inner-ques-block__head {
    margin: 0;
  }

  .card-list__image {
    height: auto;
  }

  .card {
    border-radius: 10px;
  }

  .card-list li:nth-child(1) {
    width: 87%;
  }

  .card-list li:nth-child(2) {
    top: 12px;
    width: 93%;
  }

  .card-list li:nth-child(3) {
    top: 24px;
  }

  .buttons {
    position: absolute;
    top: 529px;
    left: nul;
  }

  .card-stack .prev {
    left: 0;
  }

  .card-stack .next {
    left: 130px;
  }

  .card-list__text {
    position: absolute;
    right: 0;
    bottom: -54px;
    left: unset;
  }
}
@media only screen and (min-width: 1170px) {
  .sxema {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 105px 0 133px 0;
  }

  .sxema-info {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 520px;
        flex-basis: 520px;
  }

  .sxema-info__head {
    margin: 68px 0 50px 0;
    max-width: 70%;
  }

  .sxema-photo {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 540px;
        flex-basis: 540px;
  }

  .sxema-photo-inner {
    max-width: 100%;
  }

  .sxema-photo-inner-block:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 162px;
  }

  .sxema-photo-inner-block:nth-child(2) {
    position: absolute;
    top: 150px;
    right: 5px;
  }

  .sxema-photo-inner-block:nth-child(3) {
    position: absolute;
    top: 187px;
    left: -7px;
  }

  .sxema-photo-inner-block:nth-child(4) {
    position: absolute;
    top: 340px;
    left: 205px;
  }

  .sxema-photo-inner__lt {
    display: none;
  }

  .sxema-photo-inner__ld {
    display: block;
    position: absolute;
    top: 76px;
    left: 108px;
  }

  .uslug-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 100px 0 184px 0;
  }

  .uslug-inner-number {
    position: absolute;
    top: 170px;
    left: -78px;
    z-index: -1;
  }

  .uslug-inner-info {
    -ms-flex-preferred-size: 473px;
        flex-basis: 473px;
  }

  .uslug-inner-info-head {
    margin: 80px 0 48px 0;
  }

  .uslug-inner-info-ques {
    display: block;
    margin-top: 72px;
    padding: 36px 37px;
    background-color: #883eca;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .uslug-inner-ques-block {
    display: block;
  }

  .uslug-inner-ques-block__title {
    margin-bottom: 8px;
  }

  .uslug-inner-ques {
    display: none;
  }

  .uslug-inner-slider {
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
    padding-top: 45px;
  }

  .card-list__text {
    position: absolute;
    bottom: -54px;
    left: 280px;
  }
}
.inter {
  padding: 71px 0 251px 0;
  position: relative;
}

.inter-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.inter-number {
  font-family: Muller;
  font-size: 200px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  line-height: 180px;
  text-shadow: 0 0 20px #ece9ec;
  position: absolute;
  top: 40px;
  left: 50px;
  z-index: -1;
}

.inter-text__title {
  font-family: Muller;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.inter-text__info {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 24px;
  margin: 37px 0 43px 0;
}

.inter-text__link {
  width: 100%;
  display: inline-block;
  padding: 16px 0;
  background-color: #fb0275;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 30px;
}

.inter-photo {
  position: absolute;
  right: 0;
  bottom: 54px;
  z-index: -1;
}
.inter-photo img {
  max-width: 100%;
  height: auto;
}

.inter-photo__d2,
.inter-photo__d3 {
  display: none;
}

.poligraf {
  background-color: #faf8fb;
}

.poligraf-inner {
  position: relative;
  padding: 70px 0 60px 0;
}

.poligraf-inner-number {
  font-family: Muller;
  font-size: 200px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  line-height: 180px;
  text-shadow: 0 0 20px #ece9ec;
  color: #faf8fb;
  position: absolute;
  top: 39px;
  left: 36px;
  z-index: 1;
}

.poligraf-inner-info__head {
  position: relative;
  z-index: 2;
  font-family: Muller;
  font-size: 24px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin-bottom: 50px;
}

.poligraf-inner-info-text {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 24px;
}
.poligraf-inner-info-text p:nth-child(1) {
  margin-bottom: 24px;
}

.poligraf-inner-photo {
  margin-top: 23px;
}
.poligraf-inner-photo img {
  display: block;
  max-width: 100%;
  height: auto;
}

.poligraf-inner-form {
  margin-top: 41px;
}
.poligraf-inner-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.poligraf-inner-form__title,
.poligraf-inner-form__text {
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  line-height: 30.1px;
}

.poligraf-inner-form__title {
  font-style: italic;
  font-weight: 300;
}

.poligraf-inner-form__text {
  max-width: 200px;
  font-size: 20px;
  margin-bottom: 21px;
}

.poligraf-inner-form__in {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: transparent;
  padding: 9px 15px;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #9598a3;
  font-weight: 700;
}
.poligraf-inner-form__in::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #9598a3;
  font-weight: 400;
  font-style: italic;
}
.poligraf-inner-form__in:-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #9598a3;
  font-weight: 400;
  font-style: italic;
}
.poligraf-inner-form__in::-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #9598a3;
  font-weight: 400;
  font-style: italic;
}
.poligraf-inner-form__in::placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #9598a3;
  font-weight: 400;
  font-style: italic;
}
.poligraf-inner-form__in:nth-child(2) {
  margin: 20px 0 34px 0;
}

.poligraf-inner-form__sub {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  letter-spacing: 2px;
  padding: 15px 0;
  border: none;
  background-color: #fb0275;
  border-radius: 30px;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .inter {
    padding: 401px 0 399px 0;
  }

  .inter-number {
    top: 360px;
  }

  .inter-text {
    -ms-flex-preferred-size: 550px;
        flex-basis: 550px;
  }

  .inter-text__title {
    font-size: 32px;
    max-width: 80%;
  }

  .inter-text__info {
    margin: 66px 0 50px 0;
  }

  .inter-text__link {
    max-width: 242px;
  }

  .inter-photo__d1 {
    display: none;
  }

  .inter-photo__d2 {
    display: block;
  }

  .poligraf-inner {
    padding: 110px 0 118px 0;
  }
  .poligraf-inner:before {
    content: "";
    height: 130px;
    width: 10px;
    background: url(../images/lines.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -63px;
    z-index: 3;
  }

  .poligraf-inner-number {
    top: 70px;
    left: 35px;
  }

  .poligraf-inner-info__head {
    font-size: 32px;
    max-width: 440px;
  }

  .poligraf-inner-photo {
    position: absolute;
    top: 418px;
    right: -120px;
    z-index: 1;
    width: 453px;
  }

  .poligraf-inner-form {
    max-width: 241px;
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1170px) {
  .inter {
    padding: 130px 0 565px 0;
  }

  .inter-inner {
    position: relative;
  }

  .inter-number {
    position: absolute;
    top: 86px;
    left: 50%;
    z-index: -1;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .inter-inner {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .inter-text {
    -ms-flex-preferred-size: 555px;
        flex-basis: 555px;
  }

  .inter-text__info {
    margin: 49px 0 56px 0;
  }

  .inter-photo {
    position: absolute;
    bottom: -465px;
    left: -272px;
    z-index: -1;
  }

  .inter-photo__d2 {
    display: none;
  }

  .inter-photo__d3 {
    display: block;
  }

  .poligraf-inner {
    padding: 140px 0 160px 0;
  }

  .poligraf-inner-number {
    position: absolute;
    top: 98px;
    left: -80px;
    z-index: 1;
  }

  .poligraf-inner-info {
    max-width: 560px;
  }

  .poligraf-inner-form {
    margin-top: 105px;
    max-width: 763px;
  }
  .poligraf-inner-form form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .poligraf-inner-form__in {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
  }
  .poligraf-inner-form__in:nth-child(2) {
    margin: 0;
  }

  .poligraf-inner-form__sub {
    -ms-flex-preferred-size: 195px;
        flex-basis: 195px;
  }

  .poligraf-inner-form__text {
    max-width: 100%;
  }

  .poligraf-inner-photo {
    width: 100%;
    top: -30px;
    left: 590px;
  }
}
.otziv {
  padding: 24px 0 110px 0;
}

.otziv-container {
  max-width: 300px;
  margin: 0 auto;
}

.otziv-title {
  display: none;
}

.otziv-slider-block {
  margin: 10px 5px;
  padding: 60px 20px 52px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 #cecaca;
          box-shadow: 0 0 5px 0 #cecaca;
}

.otziv-slider-block-inner-photo {
  margin-bottom: 49px;
}
.otziv-slider-block-inner-photo img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.otziv-slider-block-inner-info__text {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  line-height: 24px;
}

.otziv-slider-block-inner-info__name {
  margin: 45px 0 0 0;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  line-height: 30.1px;
}

.otziv-slider-block-inner-info__link {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #50a2e2;
  font-weight: 600;
}

.otziv-slider .slick-prev {
  background: url(../images/arrowPrev.png);
  left: 30px;
}

.otziv-slider .slick-next {
  background: url(../images/arrowNext.png);
  right: 30px;
}

.otziv-slider .slick-arrow {
  width: 91px;
  height: 14px;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -46px;
}

.faq {
  position: relative;
  padding-bottom: 84px;
}

.faq-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.faq-inner-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 34px;
}

.faq-inner-block {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.faq-inner-block_ls {
  margin: 35px 0 54px 0;
}

.faq-inner-block-el:nth-child(n+2) {
  margin-top: 42px;
}

.faq-inner-block-el-head {
  font-family: OpenSans;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.faq-inner-block-el-text {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #5e606a;
  font-weight: 400;
  line-height: 24px;
  margin-top: 25px;
}

.faq-inner-form {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 45px 21px 56px 23px;
  background-color: #883eca;
  border-radius: 10px;
  -webkit-box-shadow: 0 20px 20px 0 #d0bcd1;
          box-shadow: 0 20px 20px 0 #d0bcd1;
  position: relative;
  overflow: hidden;
}
.faq-inner-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.faq-inner-form:before {
  content: "";
  width: 170px;
  height: 150px;
  background: url(../images/formCircle.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -45px;
  right: -68px;
  z-index: 4;
}

.faq-inner-form__title,
.faq-inner-form__text {
  font-family: OpenSans;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 30.1px;
}

.faq-inner-form__title {
  font-style: italic;
}

.faq-inner-form__text {
  max-width: 70%;
  font-size: 20px;
  margin-bottom: 27px;
  letter-spacing: 1px;
}

.faq-inner-form__in {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 9px 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.faq-inner-form__in::-webkit-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.faq-inner-form__in:-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.faq-inner-form__in::-ms-input-placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.faq-inner-form__in::placeholder {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}
.faq-inner-form__in:nth-child(2) {
  margin: 20px 0 40px 0;
}

.faq-inner-form__sub {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  z-index: 4;
  padding: 15px 0;
  border: none;
  background-color: #fb0275;
  border-radius: 30px;
  font-family: OpenSans;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px) {
  .otziv {
    padding: 75px 0 130px 0;
  }

  .otziv-title {
    display: block;
    margin-bottom: 45px;
  }

  .otziv-container {
    max-width: 730px;
  }

  .otziv-slider-block {
    padding: 62px 65px 59px 64px;
  }

  .otziv-slider-block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .otziv-slider-block-inner-photo {
    -ms-flex-preferred-size: 140px;
        flex-basis: 140px;
    margin: 0;
    padding-top: 9px;
  }

  .otziv-slider-block-inner-info {
    -ms-flex-preferred-size: 403px;
        flex-basis: 403px;
  }

  .otziv-slider-block-inner-info__name {
    margin: 9px 0 0 0;
  }

  .otziv-slider .slick-prev {
    left: 0;
  }

  .otziv-slider .slick-next {
    left: 150px;
  }

  .faq-inner-form {
    padding: 45px 32px 54px 37px;
    background: url(../images/faqFormTab.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .faq-inner-form:before {
    width: 240px;
    height: 235px;
    position: absolute;
    top: -62px;
    right: -20px;
    z-index: 4;
  }
  .faq-inner-form form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .faq-inner-form__text {
    margin-bottom: 27px;
  }

  .faq-inner-form__in_b {
    max-width: 182px;
  }

  .faq-inner-form__in_s {
    max-width: 173px;
  }

  .faq-inner-form__sub {
    -ms-flex-preferred-size: 192px;
        flex-basis: 192px;
  }

  .faq-inner-form__in:nth-child(2) {
    margin: 0;
  }
}
@media only screen and (min-width: 1170px) {
  .otziv {
    padding: 133px 0 168px 0;
  }

  .otziv-title {
    margin-bottom: 65px;
  }

  .otziv-container {
    max-width: 1366px;
  }

  .otziv-slider-block {
    max-width: 848px;
    margin: 10px 12px;
    padding: 55px 84px 59px 75px;
  }

  .otziv-slider-block-inner-info {
    -ms-flex-preferred-size: 510px;
        flex-basis: 510px;
  }

  .otziv-slider .slick-prev {
    left: 250px;
  }

  .otziv-slider .slick-next {
    left: 388px;
  }

  .faq {
    padding: 0 0 169px 0;
  }

  .faq-inner-title {
    margin-bottom: 60px;
  }

  .faq-inner-block {
    -ms-flex-preferred-size: 550px;
        flex-basis: 550px;
  }

  .faq-inner-block_ls {
    margin: 0 0 64px 0;
    -ms-flex-preferred-size: 555px;
        flex-basis: 555px;
  }

  .faq-inner-form {
    padding: 36px 69px 55px 312px;
    background: url(../images/faqForm.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .faq-inner-form:before {
    width: 240px;
    height: 220px;
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 4;
  }

  .faq-inner-form__text {
    margin-bottom: 22px;
  }

  .faq-inner-form__in {
    max-width: 240px;
  }
}
.footer-inner {
  position: relative;
  padding: 67px 0 199px 0;
}
.footer-inner iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-inner-block {
  position: relative;
  z-index: 2;
  padding: 45px 40px 30px 40px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 20px 0 #cecaca;
          box-shadow: 0 10px 20px 0 #cecaca;
}
.footer-inner-block a {
  font-family: OpenSans;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}
.footer-inner-block a span:nth-child(1) {
  margin-right: 17px;
}

.footer-inner-block__title {
  margin-bottom: 30px;
}

.footer-info {
  background-color: #65269d;
  padding: 48px 0 52px 0;
  text-align: center;
}

.footer-info-block-link {
  margin-bottom: 38px;
}
.footer-info-block-link a {
  font-family: OpenSans;
  font-size: 13px;
  text-transform: none;
  text-decoration: underline;
  color: #c3aad9;
  font-weight: 400;
}

.footer-info-block-design {
  display: none;
}

.footer-info-block-year {
  font-family: OpenSans;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  color: #c3aad9;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .footer-inner {
    padding: 62px 0 85px 0;
  }
  .footer-inner:before {
    content: "";
    height: 130px;
    width: 10px;
    background: url(../images/lines.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -63px;
    z-index: 3;
    left: 597px;
  }

  .footer-inner-block {
    max-width: 388px;
    padding: 66px 60px 50px 60px;
  }

  .footer-inner-block__title {
    margin-bottom: 53px;
  }

  .footer-info {
    padding: 25px 0;
  }

  .footer-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  .footer-info-block-link {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 1170px) {
  .footer-inner {
    padding: 121px 0 147px 0;
  }
  .footer-inner:before {
    left: 50%;
  }

  .footer-inner-block {
    max-width: 460px;
    padding: 85px 82px 99px 88px;
  }

  .footer-info {
    padding: 16px 0;
  }

  .footer-info-block-link {
    padding-left: 6px;
  }

  .footer-info-block-design {
    display: block;
    font-family: MyriadPro;
    font-size: 13px;
    text-transform: none;
    text-decoration: none;
    color: #c3aad9;
    font-weight: 400;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    letter-spacing: 0.6px;
  }
}
