.inter{
    padding: 71px 0 251px 0;
    position: relative;
}

.inter-inner{
    @include flex(row,flex-start,nowrap,null);
}

.inter-number{
    @include number;
    @include position(absolute,40px,null,null,50px,-1);
}

.inter-text__title{
    @include text($muller,24px,none,none,$black,500,null);
}

.inter-text__info{
    @include text($openS,14px,none,none,$faqText,400,24px);
    margin: 37px 0 43px 0;
}

.inter-text__link{
    width: 100%;
    @include link;
}

.inter-photo{
    @include position(absolute,null,0,54px,null,-1);
    img{
        max-width: 100%;
        height: auto;
    }
}

.inter-photo__d2,
.inter-photo__d3{
    display: none;
}


// poligraf begin

.poligraf{
    background-color: $uslugBg;
}

.poligraf-inner{
    position: relative;
    padding: 70px 0 60px 0;
}

.poligraf-inner-number{
    @include number;
    color: #faf8fb;
    @include position(absolute,39px,null,null,36px,1);
}

.poligraf-inner-info__head{
    position: relative;
    z-index: 2;
    @include text($muller,24px,none,none,$black,500,null);    
    margin-bottom: 50px;
}


.poligraf-inner-info-text{
    @include text($openS,14px,none,none,$faqText,400,24px);    
    p:nth-child(1){
        margin-bottom: 24px;
    }
}

.poligraf-inner-photo{
    margin-top: 23px;
    img{
        @include img;

    }
}

.poligraf-inner-form{
    margin-top: 41px;
    form{
        @include flex(row,space-between,wrap,flex-end);
    }
}

.poligraf-inner-form__title,
.poligraf-inner-form__text{
    @include text($openS,16px,none,none,$black,600,30.1px);
}

.poligraf-inner-form__title{
    font-style: italic;
    font-weight: 300;
}

.poligraf-inner-form__text{
    max-width: 200px;
    font-size: 20px;
    margin-bottom: 21px;
}

.poligraf-inner-form__in{
    flex-basis: 100%;
    background-color: transparent;
    padding: 9px 15px;
    border: none;
    border-bottom: 1px solid $poligrafBorder;
    @include text($openS,14px,none,none,$poligrafText,700,null);
    &::placeholder{
        @include text($openS,14px,none,none,$poligrafText,400,null);
        font-style: italic;
    }
    
    &:nth-child(2){
        margin: 20px 0 34px 0;
    }
}

.poligraf-inner-form__sub{
    flex-basis: 100%;
    letter-spacing: 2px;
    @include formSubmit;
}
// poligraf end

@include mediaQuery(min-width,768px){
    .inter{
        padding: 401px 0 399px 0;
    }

    .inter-number{
        top: 360px;
    }

	.inter-text{
        flex-basis: 550px;
    }

    .inter-text__title{
        font-size: 32px;
        max-width: 80%;
    }

    .inter-text__info{
        margin: 66px 0 50px 0;
    }

    .inter-text__link{
        max-width: 242px;
    }

    .inter-photo__d1{
        display: none;
    }

    .inter-photo__d2{
        display: block;
    }


    .poligraf-inner{
        padding: 110px 0 118px 0;
        &:before{
            @include lines;
        }
    }

    .poligraf-inner-number{
        top: 70px;
        left: 35px;
    }

    .poligraf-inner-info__head{
        font-size: 32px;
        max-width: 440px;
    }


    .poligraf-inner-photo{
        @include position(absolute,418px,-120px,null,null,1);
        width: 453px;
    }

    .poligraf-inner-form{
        max-width: 241px;
        margin-top: 80px;
    }
}

@include mediaQuery(min-width,1170px){
	.inter{
        padding: 130px 0 565px 0;
    }

    .inter-inner{
        position: relative;
    }

    .inter-number{
        @include position(absolute,86px,null,null,50%,-1);
        transform: translateX(-50%);
    }

    .inter-inner{
        justify-content: flex-end;
    }

    .inter-text{
        flex-basis: 555px;
    }

    .inter-text__info{
        margin: 49px 0 56px 0;
    }

    .inter-photo{
        @include position(absolute,null,null,-465px,-272px,-1);
    }

    .inter-photo__d2{
        display: none;
    }

    .inter-photo__d3{
        display: block;
    }


    .poligraf-inner{
        padding: 140px 0 160px 0;
    }

    .poligraf-inner-number{
        @include position(absolute,98px,null,null,-80px,1);
    }

    .poligraf-inner-info{
        max-width: 560px;
    }

    .poligraf-inner-form{
        margin-top: 105px;
        max-width: 763px;
        form{
            flex-wrap: nowrap;
        }
    }

    .poligraf-inner-form__in{
        flex-basis: 240px;
        &:nth-child(2){
            margin: 0;
        }
    }

    .poligraf-inner-form__sub{
        flex-basis: 195px;
    }

    .poligraf-inner-form__text{
        max-width: 100%;
    }

    .poligraf-inner-photo{
        width: 100%;
        top: -30px;
        left: 590px;
    }
}