.sxema{
    padding: 38px 0 51px 0;
}

.sxema-info__head{
    @include text($muller,24px,none,none,$black,500,null);
    margin: 25px 0 35px 0;
}

.sxema-info-text{
    @include text($openS,14px,none,none,$faqText,400,24px);
    p:nth-child(n+2){
        margin-top: 25px;
    }
}

.sxema-photo{
    min-height: 719px;
}

.sxema-photo-inner{
    position: relative;
    max-width: 290px;
    margin: 0 auto;
}

.sxema-photo-inner-block{
    @include text($muller,13px,none,none,$sxemaText,400,18px);
    text-align: center;
    z-index: 2;
    p{
        margin-top: 6px;
        max-width: 125px;
    }
}

.sxema-photo-inner__lt,
.sxema-photo-inner__ld{
    display: none;
}

.sxema-photo-inner-block:nth-child(1){
    @include position(absolute,35px,null,null,81px,null);
}

.sxema-photo-inner-block:nth-child(2){
    @include position(absolute,230px,-5px,null,null,null);
}

.sxema-photo-inner-block:nth-child(3){
    @include position(absolute,325px,null,null,0,null);
}

.sxema-photo-inner-block:nth-child(4){
    @include position(absolute,565px,null,null,80px,null);
}

.sxema-photo-inner__lm{
    @include position(absolute,115px,null,null,101px,null);
}


// uslug begin
.uslug{
    background-color: $uslugBg;
}

.uslug-inner{
    position: relative;
    padding: 68px 0 70px 0;
}

.uslug-inner-number{
    @include number;
    color: #faf8fb;
    @include position(absolute,119px,null,null,30px,1);
}


.uslug-inner-info-head{
    @include text($muller,24px,none,none,$black,500,null);
    margin: 43px 0 48px 0;
    position: relative;
    z-index: 2;
}

.uslug-inner-info-list{
    // margin-bottom: 35px;
    list-style: none;
    @include text($openS,14px,none,none,$faqText,400,24px);
    text-indent: 8px;
    li{
        position: relative;
        &:before{
            content: "";
            @include position(absolute,10px,null,null,0,null);
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: $faqText;
        }
    }
}

.uslug-inner-info-ques{
    display: none;
}

.uslug-inner-ques{
    margin-top: 350px;
    padding: 34px 22px 30px 22px;
    box-shadow: 0 20px 20px 0 $faqFormShadow;
    background-color: $uslugLinkBg;
    border-radius: 10px;
}

.uslug-inner-ques-block__title{
    @include text($openS,13px,none,none,$white,400,null);
    font-style: italic;
}

.uslug-inner-ques-block__head{
    @include text($openS,16px,none,none,$white,600,null);
    margin: 10px 0 32px 0 ;
}

.uslug-inner-ques-link__el{
    @include link;
    width: 100%;
    padding: 13px 0;
    letter-spacing: 1px;
}


// uslug-slider begin
.uslug-inner-slider{
    margin-top: 39px; 
}

.uslug-container{
    max-width: 100%;
    position: relative;
}
  
.buttons{
    @include position(absolute,255px,null,null,nul,3);
}
  
.card-stack .prev{
  left: 30px;
} 

.card-stack .next{
  right: 30px;
}
  
  .card-list__image {
    max-width: 100%;
    display: block;
    flex-basis: 100%;
    height: 188px;
  }
  
  .card-list__text {
    @include position(absolute,null,null,-34px,0,null);
    @include text($openS,13px,none,none,$sxemaText,400,null);
  }
  
  
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    list-style: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-box-shadow: 0 2px 15px 1px rgba(225, 225, 225, 0.5);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.5);
  }
  
  
  .card-list li:nth-child(1) {
    top: 0;
    width: 90%;

    &:before{
      content: "";
      @include position(absolute,0,0,0,0,null);
      background-color: #e4dde8;
    }
  }
  .card-list li:nth-child(2) {
    top: 5px;
    width: 95%;

    &:before{
      content: "";
      @include position(absolute,0,0,0,0,null);
      background-color: #bbb3bc;
    }
  }
  .card-list li:nth-child(3) {
    top: 10px;
    width: 100%;
    overflow: unset;
  }
  
  
  .card{
    overflow: hidden;
  }
  
  .activeNow{
    overflow: unset;
  }
  
  
  .transformThis {
    animation: scaleDown 500ms;
  }
  .transformPrev {
    animation: scaleUp 100ms;
    display: none;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1.2) translateY(50px);
      opacity: 0;
    }
    20% {
      transform: scale(1.15) translateY(40px);
      opacity: 0.1;
    }
    40% {
      transform: scale(1.1) translateY(30px);
      opacity: 0.2;
    }
    60% {
      transform: scale(1.05) translateY(20px);
      opacity: 0.4;
    }
    80% {
      transform: scale(1.01) translateY(10px);
      opacity: 0.8;
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
    20% {
      transform: scale(1.01) translateY(20px);
      opacity: 0.8;
    }
    40% {
      transform: scale(1.05) translateY(40px);
      opacity: 0.4;
    }
    60% {
      transform: scale(1.1) translateY(60px);
      opacity: 0.2;
    }
    80% {
      transform: scale(1.15) translateY(80px);
      opacity: 0.1;
    }
    100% {
      transform: scale(1.2) translateY(100px);
      opacity: 0;
    }
  }
  
  @keyframes scaleCard {
    0% {
      top: 5px;
    }
    100% {
      top: 24px;
    }
  }
  
  @keyframes bounceInLeft {
    0% {
      opacity: 0;
      transform: translateX(40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes bounceInRight {
    0% {
      opacity: 0;
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(0);
    }
  }
  



// uslug-slider-end


// uslug end



@include mediaQuery(min-width,768px){
    .sxema{
        padding: 51px 0 135px 0;
    }

    .sxema-info__title{
        margin-bottom: 45px;
    }

    .sxema-info__head{
        font-size: 32px;
    }

    .sxema-photo{
        min-height: 505px;
    }

    .sxema-photo-inner{
        max-width: 720px;
    }

    .sxema-photo-inner-block{
        p{
            max-width: 160px;
        }
    }

    .sxema-photo-inner-block:nth-child(1){
        @include position(absolute,45px,null,null,167px,null);
    }
    
    .sxema-photo-inner-block:nth-child(2){
        @include position(absolute,140px,0,null,null,null);
    }
    
    .sxema-photo-inner-block:nth-child(3){
        @include position(absolute,225px,null,null,0,null);
    }
    
    .sxema-photo-inner-block:nth-child(4){
        @include position(absolute,345px,null,null,375px,null);
    }
    
    .sxema-photo-inner__lm{
        display: none;
    }

    .sxema-photo-inner__lt{
        display: block;
        @include position(absolute,101px,null,null,118px,null);
    }
    
    
    .uslug-inner{
        padding: 78px 0 440px 0;
        &:before{
            @include lines;
            left: 50%;
        }
    }


    .uslug-inner-ques{
      @include flex(row,space-between,nowrap,baseline);
      padding: 33px 33px 36px 36px;
      @include position(absolute,null,0,-265px,unset,null);
      width: 100%;
  }

    .uslug-inner-info-head{
        margin: 53px 0 62px 0;
        font-size: 32px;
    }

    .uslug-inner-ques-block{
        flex-basis: 330px;
        @include flex(row,space-between,nowrap,null);
        
    }
   
    .uslug-inner-ques-link{
        flex-basis: 251px;
    }

    .uslug-inner-ques-block__head{
        margin: 0;
    }

    .card-list__image{
      height: auto;
    }

    .card{
      border-radius: 10px;
    }

    .card-list li:nth-child(1) {
      width: 87%;
    }

    .card-list li:nth-child(2) {
      top: 12px;
      width: 93%;
    }

    .card-list li:nth-child(3) {
      top: 24px;
    }

    .buttons{
      @include position(absolute,529px,null,null,nul,null);
    }
    
    .card-stack .prev{
      left: 0;
    } 

    .card-stack .next{
      left: 130px;
    }

    .card-list__text {
      @include position(absolute,null,0,-54px,unset,null);
    }



}


@include mediaQuery(min-width,1170px){
	.sxema{
        @include flex(row,space-between,nowrap,null);
        padding: 105px 0 133px 0;
    }

    .sxema-info{
        order: 1;
        flex-basis: 520px;
    }
    
    .sxema-info__head{
        margin: 68px 0 50px 0;
        max-width: 70%;
    }

    .sxema-photo{
        order: 0;
       flex-basis: 540px;
    }

    .sxema-photo-inner{
        max-width: 100%;
    }

    .sxema-photo-inner-block:nth-child(1){
        @include position(absolute,10px,null,null,162px,null);
    }
    
    .sxema-photo-inner-block:nth-child(2){
        @include position(absolute,150px,5px,null,null,null);
    }
    
    .sxema-photo-inner-block:nth-child(3){
        @include position(absolute,187px,null,null,-7px,null);
    }
    
    .sxema-photo-inner-block:nth-child(4){
        @include position(absolute,340px,null,null,205px,null);
    }
    
    .sxema-photo-inner__lt{
        display: none;
    }

    .sxema-photo-inner__ld{
        display: block;
        @include position(absolute,76px,null,null,108px,null);
    }


    .uslug-inner{
        @include flex(row,space-between,nowrap,null);
        padding: 100px 0 184px 0;
    }

    .uslug-inner-number{
        @include position(absolute,170px,null,null,-78px,-1);
    }

    .uslug-inner-info{
        flex-basis: 473px;
    }

    .uslug-inner-info-head{
        margin: 80px 0 48px 0;
    }

    .uslug-inner-info-ques{
        display: block;
        margin-top: 72px;
        padding: 36px 37px;
        background-color: $uslugLinkBg;
        border-radius: 10px;
        @include flex(row,space-between,nowrap,null);
    }

    .uslug-inner-ques-block{
        display: block;
    }

    .uslug-inner-ques-block__title{
        margin-bottom: 8px;
    }

    .uslug-inner-ques{
        display: none;
    } 

    .uslug-inner-slider{
      flex-basis: 570px;
      padding-top: 45px;
    }

    .card-list__text {
      @include position(absolute,null,null,-54px,280px,null);
    }

}